<h1>CSWB 100 Assignments</h1>
<table>
  <thead>
    <tr>
      <th>Chapter</th>
      <th>Topic</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Chapter 1</td>
      <td>Introduction to the Internet and World Wide Web</td>
      <td><a href="#">Download PDF</a></td>
    </tr>
    <tr>
      <td>Chapter 4</td>
      <td>Configuring Color and Text with CSS</td>
      <td><a href="#">Download PDF</a></td>
    </tr>
  </tbody>
</table>
