<h1>JavaJam Coffee House</h1>
<table>
  <thead>
    <tr>
      <th>Chapter</th>
      <th>Topic</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Chapter 2</td>
      <td>HTML Basics</td>
      <td><a href="./javaJam/tutorial2/index.html">View Page</a></td>
    </tr>
    <tr>
      <td>Chapter 3</td>
      <td>Configuring Color and Text with CSS</td>
      <td><a href="./javaJam/tutorial3/index.html">View Page</a></td>
    </tr>
    <tr>
      <td>Chapter 4</td>
      <td>Visual Elements and Graphics</td>
      <td><a href="./javaJam/tutorial4/index.html">View Page</a></td>
    </tr>
    <tr>
      <td>Chapter 6</td>
      <td>Page Layout</td>
      <td><a href="./javaJam/tutorial6/index.html">View Page</a></td>
    </tr>
    <tr>
      <td>Chapter 7</td>
      <td>More on Links, Layout, and Mobile</td>
      <td><a href="./javaJam/tutorial7/index.html">View Page</a></td>
    </tr>
    <tr>
      <td>Chapter 8</td>
      <td>Tables</td>
      <td><a href="./javaJam/tutorial8/index.html">View Page</a></td>
    </tr>
    <tr>
      <td>Chapter 9</td>
      <td>Forms</td>
      <td><a href="#">View Page</a></td>
    </tr>
    <tr>
      <td>Chapter 11</td>
      <td>Web Multimedia and Interactivity</td>
      <td><a href="#">View Page</a></td>
    </tr>
    <tr>
      <td>Chapter 12</td>
      <td>E-Commerce Overview</td>
      <td><a href="#">View Page</a></td>
    </tr>
    <tr>
      <td>Chapter 13</td>
      <td>Web Promotion</td>
      <td><a href="#">View Page</a></td>
    </tr>
    <tr>
      <td>Chapter 14</td>
      <td>A Brief Look at JavaScript and jQuery</td>
      <td><a href="#">View Page</a></td>
    </tr>
  </tbody>
</table>
