<main>
  <h1>Welcome to My Website (CSWB 110)</h1>
  <p>This is the main content of my website.</p>
  <div class="row">
    <div class="half column">
      <div class="card">
        <div class="card-header">JavaJam Coffee House</div>
        <div class="card-body">
          <img
            src="./javaJam/tutorial4/images/javajamlogo.jpg"
            alt="javajam logo"
            style="width: 240px"
          />
          <br />
          <br />
          <p>
            JavaJam Coffee House is a coffee shop that serves coffee, tea, and
            pastries. The website is a simple website that has a home page, menu
            page, music page, and jobs page. Each chapter's Case Study is
            completed from the "Web Development and Design Foundations with
            HTML5" textbook.
          </p>
          <a href="javajam.html" class="button button-success"
            >JavaJam Case Study</a
          >
        </div>
      </div>
    </div>
    <div class="half column">
      <div class="card">
        <div class="card-header">Projects</div>
        <div class="card-body">
          <img
            src="https://www.zestyux.com/images/logo/zesty_logo_729x675.png"
            alt="project image"
            style="width: 200px"
          />
          <br />
          <br />
          <p>
            This is a list of projects that I have completed for CSWB 110 and
            outside of the course. Each project is built using HTML, CSS, and
            JavaScript.
          </p>
          <a href="projects.html" class="button button-success">Project List</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 3rem">
    <div class="four columns">LinkedIn</div>
    <div class="four columns">GitHub</div>
    <div class="four columns">Fossodon</div>
  </div>
</main>
