<main>
  <h1>Welcome to My Website (CSWB 110)</h1>
  <p>This is the main content of my website.</p>
  <div class="row">
    <div class="half column">
      <div class="card">
        <div class="card-header">JavaJam Coffee House</div>
        <div class="card-body">
          <img
            src="./javaJam/tutorial4/images/javajamlogo.jpg"
            alt="javajam logo"
          />
          <br />
          <br />
          <p>
            Check out the <a href="javajam.html">JavaJam Case Study here!</a>
          </p>
        </div>
      </div>
    </div>
    <div class="half column">
      <div class="card">
        <div class="card-header">Projects</div>
        <div class="card-body">
          <img src="#" alt="project image" />
          <br />
          <br />
          <p>Check out <a href="projects.html">projects here!</a></p>
        </div>
      </div>
    </div>
  </div>
</main>
