<div class="row">
  <div class="two columns">
    <img
      src="./assets/images/rodney_colorful.png"
      alt="profile picture of rodney"
      class="logo"
    />
  </div>
  <div class="ten columns">
    <div class="topnav pull-right">
      <div class="dark-mode">
        <span class="active" onclick="setLightMode()"> L </span>
        <span class="" onclick="setDarkMode()"> D </span>
      </div>
      <a href="index.html">Home</a>
      <a href="assignments.html">Assignments</a>
      <a href="javajam.html">JavaJam</a>
      <a href="projects.html">Projects</a>
    </div>
  </div>
</div>
