<h1>Projects</h1>
<p>Active Projects</p>
<div class="row">
    <div class="half column">
        <div class="card">
            <div class="card-header">
                <h2>EMBERSTONE</h2>
            </div>
            <div class="card-body">
                <img src="https://github.com/rodneygauna/emberstone/blob/main/src/static/assets/logos/emberstone_logo_294x483.png?raw=true"
                    alt="emberstone logo" style="width: 140px">
                <p>Emberstone is an open-source fire incident reporting system that follows FEMA and U.S. Fire
                    Administration National Fire Data Center requirements. The purposed of the web-app is allow fire
                    departments to:
                <ul>
                    <li>Record the number of personnel and apparatuses that were available to respond to the incident.</li>
                    <li>Review response metrics and key insights around response types.</li>
                    <li>Review incident details and response times.</li>
                    <li>Submit indicent reports to local, state, and federial agencies.</li>
                </ul>
                </p>
                <a href="https://github.com/rodneygauna/emberstone" target="_blank" rel="noopener noreferrer"
                    class="button button-success">Emberstone GitHub</a>
            </div>
        </div>
    </div>
    <div class="half column">
        <div class="card">
            <div class="card-header">
                <h2>OpenConsult</h2>
            </div>
            <div class="card-body">
                <img src="https://github.com/rodneygauna/OpenConsult/blob/main/src/static/images/OpenConsult-transparent-1024x1024.png?raw=true"
                    alt="open consult logo" style="width: 240px;">
                <p>OpenConsult is an open-source eConsult platform that enables primary care providers to seek out
                    advice and treatment options from a specialist. Healthcare groups will be able to manage and support
                    advanced care of patients while:
                <ul>
                    <li>Reducing the need for in-person visits.</li>
                    <li>Reducing the need for referrals.</li>
                    <li>Reducing the need for duplicate testing.</li>
                    <li>Reducing the need for unnecessary hospitalizations.</li>
                </ul>
                </p>
                <a href="https://github.com/rodneygauna/OpenConsult" target="_blank" rel="noopener noreferrer"
                    class="button button-success">OpenConsult GitHub</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="half column">
        <div class="card">
            <div class="card-header">
                <h2>Zesty UX</h2>
            </div>
            <div class="card-body">
                <img src="https://www.zestyux.com/images/logo/zesty_logo_729x675.png" alt="zesty ux logo"
                    style="width: 240px;">
                <h4>What is Zesty UX?</h4>
                <p>
                    Zesty UX is a CSS framework inspired from
                    <a href="http://getskeleton.com" target="_blank" rel="noopener noreferrer">Skeleton</a>
                    and
                    <a href="http://getbootstrap.com" target="_blank" rel="noopener noreferrer">Bootstrap</a>. The goals
                    of Zesty UX's CSS Framework are:
                <ul>
                    <li>Keep the baseline styling simple.</li>
                    <li>12-column responsive grid framework that's familiar.</li>
                    <li>Add essentials as needed.</li>
                </ul>
                </p>
                <h4>Why is Zesty UX awesome?</h4>
                <p>Zesty UX is lightweight and provides the essentials. It mainly stlyes raw HTML elements (with a few
                    exceptions) and provides a 12-columns responsive grid.
                <ul>
                    <li>Around 800 lines of CSS code.</li>
                    <li>Baseline CSS framework, guide from the starting point.</li>
                    <li>Vanilla CSS and JavaScript, no compiling or installation needed</li>
                </ul>
                </p>
                <a href="https://zestyux.com" target="_blank" rel="noopener noreferrer"
                    class="button button-success">Get Zesty</a>
            </div>
        </div>
    </div>
    <div class="half column">
        <div class="card">
            <div class="card-header">
                <h2>Rodney.Codes</h2>
            </div>
            <div class="card-body">
                <img src="http://rodney.codes/rodney_colorful.png" alt="rodney's profile picture" style="width: 240px;">
                <p><a href="http://rodney.codes" target="_blank" rel="noopener noreferrer">Rodney.Codes</a> is my
                    personal website with design inspiration from the hacker-like text game <a
                        href="https://hacknet-os.com/" target="_blank" rel="noopener noreferrer">HACKNET</a>.</p>
                <a href="http://rodney.codes" target="_blank" rel="noopener noreferrer"
                    class="button button-success">Check It Out</a>
            </div>
        </div>
    </div>
</div>
